@import "tailwindcss";
 @layer base{
   .menu{
     @apply
      p-3
      sm:p-8
      rounded-4xl
      sm:rounded-none
      bg-red-200 
      fixed 
      bottom-3 
      sm:left-0 
      w-full 
      sm:w-auto 
      sm:h-[100vh] 
      mt-10 
    } 
    .navListContainer{
       @apply 
       flex 
       justify-around 
       sm:flex-col 
       sm:justify-between 
       sm:gap-5 
      } 
      .navList{ 
        @apply 
        flex 
        flex-col 
        sm:flex-row 
        items-center 
        justify-center 
        sm:justify-normal 
        sm:gap-4 
        text-[10px] 
        sm:text-xl 
        text-gray-500 
        font-bold 
      } 
      .listText{
         @apply 
         sm:hidden
         lg:block
        } 
      }